*
{
    box-sizing: border-box;
}

body, html
{
    background-color: var(--bg-color);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.core
{
    width: 50vw;
    margin-left: auto;   
    margin-right: auto;
    text-align: left;
    padding: 15px;
    padding-top: 60px;
    transition: width 0.3s ease;
}

.body
{
    display: flex;
    flex-direction: row;
}

.logo
{
    font-size: 10vmin;
    color: var(--active-color);
    height: 15vmin;
}

.header-title
{
    color: var(--text-color2);
    text-align: center;
    font-size: 3.6vmin;
}

.header-underline
{
    height: 3px;
    background-color: var(--bg-color2);
    width: 55vmin;
    margin-left: auto;
    margin-right: auto;
}

.sidebar
{
    position: relative;
}

.sidebar > *
{
    margin-bottom: 10px;
}

.sidebar > .sidebar-button
{
    font-size: 28px;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    transition: 0.3s ease;
    text-decoration: none;
    position: relative;
    justify-content: center;
}

.sidebar > .sidebar-button .legend
{
    width: 0;
    opacity: 0;
    font-size: 21px;
    text-align: right;
    white-space: nowrap;
}

.sidebar > .sidebar-button:hover, .sidebar > .sidebar-button[active]
{
    transition: 0.3s ease;
    border: 3px solid var(--active-color);
    background-color: var(--active-color);
    color: var(--text-color2);
    width: 200px;
}

.sidebar > .sidebar-button:hover .legend, .sidebar > .sidebar-button[active] .legend
{
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    opacity: 1;
    flex-grow: 1;
}

p
{
    color: var(--text-color);
    font-size: 1.8vmin;
}

.content
{
    padding-top: 5vmin;
    padding-right: 5vmin;
    padding-left: 25%;
    text-align: right;
}

.sidebar-tip
{
    top: auto;
    left: 66px;
    bottom: 10%;
}

.cases-tip
{
    right: calc(100% + 30px);
}

.tip-bubble
{
    background-color: var(--balloon-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 12px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    font-size: 2vmin;
}

.tip-bubble[right]::after 
{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--balloon-color) transparent transparent;
}

.tip-bubble[left]::after 
{
    content: "";
    position: absolute;
    top: 40%;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--balloon-color);
}

.case:first-of-type
{
    margin-top: 60px;
}

.case
{
    border-radius: 8px;
    background-color: var(--bg-color2);
    color: var(--text-color);
    padding: 15px 15px 5px 15px;
    text-align: left;
    margin-bottom: 30px;
    position: relative;
}

.case > .case-title
{
    text-align: right;
    font-size: 2vmin;
    font-weight: 600;
}

.case > .toggled-content
{
    display: none;
    position: relative;
    width: 100%;
    text-align: center;
}

.case > .toggled-content > .line
{
    position: relative;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: var(--bg-color3);
    opacity: 0.3;
}

.case > .toggled-content .case-heading, .case > .toggled-content p
{
    text-align: left;
}

.case > .toggled-content .case-heading
{
    font-weight: 600;
    color: var(--active-color);
}

.case > .toggle
{
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    transition: 0.3s ease;
    position: relative;
}

.case > .toggle:hover
{
    color: var(--active-color);
    transition: 0.3s ease;
}

.case[toggled="true"] > .toggle > .toggle-on-icon
{
    display: none;
}

.case[toggled="false"] > .toggle > .toggle-off-icon
{
    display: none;
}

.case[toggled="true"] > .toggled-content
{
    display: block;
}

a, li
{
    text-align: left;
}

@media only screen and (max-width: 918px) 
{
    .core
    {
        width: 85vw;
    }

    .body
    {
        flex-direction: column;
    }

    .sidebar 
    {
        text-align: center;
    }

    .sidebar-button
    {
        width: auto !important;
        padding-left: 20px !important;
    }

    .sidebar-button .legend
    {
        font-size: 3.5vmin !important;
        opacity: 1 !important;
        width: auto !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        flex-grow: 1 !important;
    }

    p
    {
        font-size: 2.1vmin;
    }

    .sidebar-tip
    {
        display: none;
    }
}

@media only screen and (min-width: 919px) and (max-width: 1200px) 
{
    .core
    {
        width: 75vw;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1700px) 
{
    .core
    {
        width: 65vw;
    }
}