:root
{
    --active-color: rgb(214, 49, 65);
    --bg-color: rgb(219, 138, 116);
    --bg-color2: rgb(250, 201, 184);
    --bg-color3: rgb(34, 37, 44);
    --text-color: rgb(34, 37, 44);
    --text-color2: white;
    --balloon-color: white;
}